@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #636363;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    align-items: center;
    text-align: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li, a{
    list-style-type: none;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

a:hover{
    color: #ff953e;
}

.title-text{
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.title-text h1{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text2 h1{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text3 h1{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text4 h1{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text2 h2{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
}

.title-text3 h2{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
}

.title-text4 h2{
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
}

.title-text p{
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.75rem;
    text-align: justify;
    color: #dfdfdf;
}

.title-text2 p{
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.75rem;
    text-align: center;
    color: #dfdfdf;
}

.title-text3 p{
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.75rem;
    text-align: justify;
    color: #dfdfdf;
}

.title-text4 p{
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.6rem;
    text-align: center;
    color: #dfdfdf;
}

.title-text a{
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text2 a{
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text3 a{
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text4 a{
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text b{
    color: #ff953e;
}

.title-text2 b{
    color: #ff953e;
}

.title-text3 b{
    color: #ff953e;
}

.title-text4 b{
    color: #ff953e;
}

.video iframe{
    width: 400px;
    height: 225px;
    margin: 10px;
}

.map iframe{
    width: 400px;
    height: 225px;
    margin: 10px;
}

.title-text img{
    width: 400px;
    margin: 10px;
}

.calc-img img{
    margin-top: 1rem;
    border-radius: 1rem;
    width: 700px;
}

.title-text2 img{
    width: 400px;
    margin: 10px;
}

.title-text3 img{
    width: 400px;
    margin: 10px;
    border-radius: 1rem;
}

.title-text4 img{
    width: 900px;
    margin: 10px;
}

/* CÁLCULO */
.resul{
    font-size: 1.30rem;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

label{
    font-size: 0.75rem;
    font-weight: bold;
    color: #dfdfdf;
    text-transform: uppercase;
}

input{
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
    /* margin: 1.5rem 0 1rem 0; */
}

button:hover{
    color: #ff953e;
    cursor: pointer;
}

#resposta{
    color: #fff;
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}

/* RODAPÉ */
footer{
    align-items: flex-end;
    margin-top: auto;
    width: 100%;
    background-color: #979797;
}

footer p{
    font-size: 0.75rem;
    color: #000000;
}

.fo-icon{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.fo-icon a{
    display: flex;
    align-items: center;
    font-size: 0.55rem;
    margin: 0 20px 0 20px;
    color: #1a1a1a;
}

.fo-icon i{
    margin-right: 10px;
}

a:hover{
    cursor: pointer;
    color: #ff953e;
}

@media (max-width: 768px){

    li, a{
        font-size: 0.80rem;
        margin: 7px;
    }

    h1{
        font-size: 1.25rem;
    }

    .title-text h1{
        width: 320px;
        font-size: 1.10rem;
    }

        .title-text2 h1{
        width: 320px;
        font-size: 1.10rem;
    }

        .title-text3 h1{
        width: 320px;
        font-size: 1.10rem;
    }

    .title-text4 h1{
        width: 320px;
        font-size: 1.10rem;
    }

    .title-text p{
        width: 320px;
        font-size: 0.65rem;
    }

        .title-text2 p{
        width: 320px;
        font-size: 0.65rem;
    }

        .title-text3 p{
        width: 350px;
        font-size: 0.70rem;
    }

            .title-text4 p{
        width: 350px;
        font-size: 0.70rem;
    }

    .title-text2 h1{
        width: 320px;
        font-size: 1.2rem;
    }

    .title-text2 h2{
    color: #1b1b1b;
    width: 320px;
    margin: auto;
    padding: 15px;
    font-size: 0.80rem;
}

    .title-text3 h2{
    color: #1b1b1b;
    width: 320px;
    margin: auto;
    padding: 15px;
    font-size: 0.80rem;
}

    .title-text4 h2{
    color: #1b1b1b;
    width: 320px;
    margin: auto;
    padding: 15px;
    font-size: 0.80rem;
}

    .title-text2 p{
        width: 320px;
        font-size: 0.65rem;
    }

    .video iframe{
        width: 320px;
        height: 180px;
    }

    .map iframe{
    width: 320px;
    height: 180px;
    }
    
    .title-text img{
        width: 320px;
    }

    .title-text2 img{
        width: 320px;
    }

    .title-text3 img{
        width: 320px;
    }

    .title-text4 img{
        width: 320px;
    }

    .calc-img img{
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
    width: 350px;
    /* height: 20px; */
    }

    video, source{
        width: 320px;
        height: 180px;
    }

}

@media (max-width: 375px){
    li, a{
        font-size: 0.5rem;
        margin: 5px;
    }
}