@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #636363;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

nav {
    align-items: center;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

li, a {
    list-style-type: none;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

a:hover {
    color: #ff953e;
}

/* CABEÇALHO */
.wrapperContainer-dark {
    background-color: #2a2a2a;
    color: #fafafa;
}

.container {
    max-width: 900px;
    margin: auto;
}

.wrapperContainer-fixed {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.title_main {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .25rem;
    text-transform: uppercase;
}

.title_main a:hover {
    color: #fafafa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    /* padding: 2rem 0; */
}

.header_nav a {
    padding: .75em 1.15em;
    /* 1em = 16px */
    border: solid 1px;
    text-decoration: none;
}

.header_nav li {
    margin: -15px;
}

.header_nav ul {
    display: flex;
    /* gap: .6rem; */
    list-style-type: none;
}

.header_nav a:hover {
    color: #fafafa;
    background-color: #050505;
}

/* FIM CABEÇALHO */

.title-text {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.title-text h1 {
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text2 h1 {
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text3 {
    margin: 1rem auto;
    padding-right: 10%;
    padding-left: 10%;
    width: 800px;
}

.title-text3 h1 {
    color: #1b1b1b;
    text-transform: uppercase;
    background-color: #a0a0a0;
}

.title-text4 h1 {
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.75rem;
}

.title-text2 h2 {
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
}

.title-text3 h2 {
    color: #1b1b1b;
    text-transform: uppercase;
    /* width: 800px; */
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #a0a0a0;
    text-align: left;
    padding: 0.5rem;
    font-weight: bold;
    border-bottom: #1b1b1b 2px solid;
}

.title-text4 h2 {
    color: #1b1b1b;
    text-transform: uppercase;
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
}

.title-text p {
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.75rem;
    text-align: justify;
    color: #dfdfdf;
}

.title-text2 p {
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.75rem;
    text-align: center;
    color: #dfdfdf;
}

.title-text3 p {
    /* margin: auto; */
    /* padding: 10px; */
    width: 800px;
    font-size: 0.75rem;
    text-align: justify;
    color: #dfdfdf;
}

.title-text4 p {
    margin: auto;
    padding: 10px;
    width: 800px;
    font-size: 0.6rem;
    text-align: center;
    color: #dfdfdf;
}

.title-text a {
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text2 a {
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text3 a {
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text4 a {
    margin: auto;
    text-decoration: underline;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: bold;
}

.title-text b {
    color: #ff953e;
}

.title-text2 b {
    color: #ff953e;
}

.title-text3 b {
    color: #ff953e;
}

.title-text4 b {
    color: #ff953e;
}

.video iframe {
    width: 400px;
    height: 225px;
    margin: 10px;
}

.map iframe {
    width: 400px;
    height: 225px;
    margin: 10px;
}

.title-text img {
    width: 400px;
    margin: 10px;
}

.calc-img img {
    margin-top: 1rem;
    border-radius: 1rem;
    width: 700px;
}

.title-text2 img {
    width: 400px;
    margin: 10px;
}

.title-text3 img {
    width: 400px;
    margin: 10px;
    border-radius: 1rem;
}

.title-text4 img {
    width: 900px;
    margin: 10px;
}

/* DETAL.HTML */

.title-cards h1 {
    color: #1a1a1a;
    background-color: #a0a0a0;
    font-weight: bold;
    text-transform: uppercase;
    width: 832px;
    margin: 1.3rem auto;
}

.principal {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 16px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 16px;
    margin-bottom: 2rem;
}

.principal-cards {
    background-color: #393535;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}

.principal-cards img {
    width: 100%;
    display: block;
    flex: 1;
    border-radius: 5px 5px 0 0;
}

.principal-cards p {
    display: flex;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 0.9rem;
    text-align: left;
}

.principal-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 16px;
}

.sec-vi-card {
    /* background-color: #393535; */
    /* padding: 8px; */
    display: flex;
    flex-direction: column;
}


.sec-vi-card p {
    color: #fff;
    text-align: left;
    font-size: 0.9rem;
    background-color: #393535;
    margin: 0;
    padding: 10px;
    font-size: 0.9rem;
}

.detal-card iframe {
    display: flex;
    /* max-width: 350px; */
    width: 100%;
    flex: 1;
    margin: auto;
}

/* FIM DETAL.HTML */

.new-title-text3 {
    margin: 1rem auto;
    padding-right: 10%;
    padding-left: 10%;
    width: 800px;
}

.new-title-text3 h1 {
    color: #1b1b1b;
    background-color: #a0a0a0;
    font-weight: bold;
    text-transform: uppercase;
}

.new-title-text3 p {
    text-align: center;
    color: #fff;
    font-size: 0.75rem;
}

.new-title-text-img h2 {
    margin-top: auto;
    font-size: 0.95rem;
    text-align: center;
    color: #fff;
}

/* CÁLCULO */
.resul {
    font-size: 1.30rem;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

label {
    font-size: 0.75rem;
    font-weight: bold;
    color: #dfdfdf;
    text-transform: uppercase;
}

input {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: #fff;
    text-align: center;
    /* margin: 1.5rem 0 1rem 0; */
}

button:hover {
    color: #ff953e;
    cursor: pointer;
}

#resposta {
    color: #fff;
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}

/* RODAPÉ */
footer {
    align-items: flex-end;
    margin-top: auto;
    width: 100%;
    background-color: #979797;
}

footer p {
    font-size: 0.75rem;
    color: #000000;
}

.fo-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.fo-icon a {
    display: flex;
    align-items: center;
    font-size: 0.55rem;
    margin: 0 20px 0 20px;
    color: #1a1a1a;
}

.fo-icon i {
    margin-right: 10px;
}

a:hover {
    cursor: pointer;
    color: #ff953e;
}

@media (max-width: 768px) {

    li, a {
        font-size: 0.80rem;
        margin: 7px;
    }

    h1 {
        font-size: 1.25rem;
    }

    .title-text h1 {
        width: 320px;
        font-size: 1.10rem;
    }

    .title-cards h1 {
        width: 352px;
        font-size: 1.10rem;
    }

    .principal {
        display: flex;
        flex-direction: column;
        width: 320px;
    }

    .principal-videos{
        display: flex;
        flex-direction: column;
        width: 320px;
    }



    .title-text2 h1 {
        width: 320px;
        font-size: 1.10rem;
    }

    .new-title-text3 h1 {
        font-size: 1.50rem;
    }

    .title-text4 h1 {
        width: 320px;
        font-size: 1.10rem;
    }

    .title-text p {
        width: 320px;
        font-size: 0.65rem;
    }

    .title-text2 p {
        width: 320px;
        font-size: 0.65rem;
    }

    .title-text4 p {
        width: 350px;
        font-size: 0.70rem;
    }

    .title-text2 h1 {
        width: 320px;
        font-size: 1.2rem;
    }

    .title-text2 h2 {
        color: #1b1b1b;
        width: 320px;
        margin: auto;
        padding: 15px;
        font-size: 0.80rem;
    }

    .title-text4 h2 {
        color: #1b1b1b;
        width: 320px;
        margin: auto;
        padding: 15px;
        font-size: 0.80rem;
    }

    .title-text2 p {
        width: 320px;
        font-size: 0.65rem;
    }

    .new-title-text3 {
        width: 100%;
        max-width: 800px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    .title-text3 {
        width: 100%;
        max-width: 800px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    .title-text3 img {
        width: 320px;
    }

    .title-text3 h2 {
        font-size: 0.9rem;
    }

    .title-text3 p {
        width: 320px;
        font-size: 0.75rem;
    }

    .video iframe {
        width: 320px;
        height: 180px;
    }

    .map iframe {
        width: 320px;
        height: 180px;
    }

    .title-text img {
        width: 320px;
    }

    .title-text2 img {
        width: 320px;
    }

    .title-text4 img {
        width: 320px;
    }

    .calc-img img {
        margin: 1rem 0 1rem 0;
        border-radius: 1rem;
        width: 350px;
        /* height: 20px; */
    }

    video, source {
        width: 320px;
        height: 180px;
    }

    .new-title-text {
        width: 100%;
        max-width: 800px;
        padding-left: 1rem;
        padding-right: 1rem;
        box-sizing: border-box;
    }

    .new-title-text img {
        width: 320px;
    }

    .new-title-text h2 {
        font-size: 0.75rem;
    }

    .container {
        max-width: 320px;
        margin: auto;
    }

    .header_nav a {
        font-size: .5rem;
        padding: .7em .5em;
        border: solid 1px;
        text-decoration: none;
        margin: 1.3rem;
    }

}

@media (max-width: 375px) {
    li, a {
        font-size: 0.5rem;
        margin: 5px;
    }

    .container {
        max-width: 320px;
        margin: auto;

    }

    .header_nav a {
        font-size: .5rem;
        padding: .7em .5em;
        border: solid 1px;
        text-decoration: none;
        margin: 1.3rem;
    }
}